.gallery.Wallop.Wallop--slide
    .Wallop-list
        .Wallop-item.Wallop-item--current
            .gallery-img
                img(src=require("../../../assets/img/gallery/photo.jpg") alt="")
        .Wallop-item
            .gallery-img
                img(src=require("../../../assets/img/gallery/photo.jpg") alt="")
        .Wallop-item
            .gallery-img
                img(src=require("../../../assets/img/gallery/photo.jpg") alt="")
        .Wallop-item
            .gallery-img
                img(src=require("../../../assets/img/gallery/photo.jpg") alt="")
        .Wallop-item
            .gallery-img
                img(src=require("../../../assets/img/gallery/photo.jpg") alt="")
    .gallery-controls
        button.gallery-dot.dotBtn
        button.gallery-dot.dotBtn
        button.gallery-dot.dotBtn
        button.gallery-dot.dotBtn
        button.gallery-dot.dotBtn